<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Developer Introducing Page</title>
<link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
  </head>
  <style>
    body{
      background-image: url('/static/Colorversion.jpg');
      background-size : 100% auto;
    }
    h2{
      font-family: 'Acme', sans-serif;
    }
  </style>
  <body display:table>
    <div style="left: 70px; width: 1250px; bottom: 550px; font-size: 1.8em; font-weight: bold; position: absolute; opacity:0.7">
        <h2 style="color:#fff; font-size:60px;">News Recommendation System</h2>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <div style="color;#fff;font-size:80px; text-align:center; line-heigth:200px; vertical-align:middle">
        <h2 id="clock" style="color:#fff;">asd</h2>
      	</div>
      <div style="left:1170px; width: 950px; bottom: 10px; font-size: 1.8em; font-weight: bold; position: absolute; opacity:0.7">
        <h2 style="color:#fff; font-size:30px;">Server Made by Jimin</h2>
      </div>

      <script src="/static/clock.js"></script>



  </body>
</html>
